:root {
    --main-color: pink;
    --main-color-darker: hotpink;
}

body {
    color: black;
    margin: 0px auto;
    width: 100%;
}

header {
    margin-bottom: 30px;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-color);
}

header #logo {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header #logo img {
    padding: 5px;
    margin-right: 10px;
    background-color: var(--main-color-darker);
    border-radius: 50%;
}

header nav {
    text-align: right;
}

header nav a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

article {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

footer {
    border-top: solid 2px black;
    color: #555;

    font-size: 0.8em;
    margin-top: 30px;
    padding: 12px 20px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

h1.page-title {
    font-size: 2em;
}

h1:not(.page-title) {
    font-size: 1.7em;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

pre.sourceCode {
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

.info {
    color: #555;
    font-style: italic;
}

figure {
    text-align: center;
    margin: 5px 0;
}

/* Aligning svg icons to text */
.inline-icon {
    height: 1em;
    width: 1em;

    position: relative;
    top: 0.125em;
}
