<h1 class="section__title portfolio-title">{{ .Title | default "Projects" }}</h1>
{{ range .Data.Pages.ByDate.Reverse }}
  <section class="portfolio-entry">
    <input
      class="collapsible-toggle"
      id="{{ .File.UniqueID }}-checkbox"
      type="checkbox"/>
    <label
      class="collapsible-label"
      for="{{ .File.UniqueID }}-checkbox">
      <h2 class="portfolio-entry-title">
        {{ .Title }}
      </h2>
    </label>
    <div class="portfolio-entry-text collapsible-text">
      {{ .Content }}
      {{ if .Params.link }}
      <a href="{{ .Params.link }}" class="portfolio-entry-link">link</a>
      {{ end }}
    </div>
  </section>
{{ end }}
