:root {
    --color-text-light: #9a9a9a;
}

img[src=""] { display:none }

/* Theme override */
.item__date { margin-top: 0px; }
/* Theme override */

.post-list-item-details {
    display: flex;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.external-post-marker {
    color: var(--color-text-light);
}
