{{ define "head" }}
<script defer src="https://d3js.org/d3.v7.min.js"></script>
<script defer src="/graph.js"></script>
{{ end }}

{{ define "body" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<svg id="note-graph" class="rounded-lg">
	<defs>
		<filter x="0" y="0" width="1" height="1" id="solid">
			<feFlood flood-color="#f7f7f7" flood-opacity=".9"></feFlood>
			<feComposite in="SourceGraphic" operator="xor"></feComposite>
		</filter>
	</defs>
	<rect id="base_rect" width="100%" height="100%" style="fill:#f1f5f9"></rect>
</svg>

<main class="brain-list">
	{{ range .Data.Pages }}
	<a class="brain-entry" href="{{.RelPermalink}}">{{ .Title }}</a>
	{{ end }}
</main>
{{ end }}
