<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
        <link rel="webmention" href="https://webmention.io/mpardalos.xyz/webmention" />
        <link rel="pingback" href="https://webmention.io/mpardalos.xyz/xmlrpc" />
        <link rel="micropub" href="https://mpardalos.xyz/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
        <link rel="microsub" href="https://aperture.p3k.io/microsub/782">
        <link rel="me" href="mailto:me@mpardalos.xyz">
        {{ block "head" . }}{{ end }}
    </head>
    <body>
        <header>
            <nav>
                <a href="/">/home</a>
                <a href="/social">/social</a>
                <a href="/portfolio">/portfolio</a>
                <a href="/now">/now</a>
                <a href="/using">/using</a>
            </nav>
        </header>
        {{ block "body" . }}{{ end }}
    </body>
</html>
