{{ define "nav" }}
<!-- No nav in index -->

{{ end }}
{{ define "body" }}
<section>
	<div class="side-by-side">
		<p>
			Hello! My name is Michalis. I am a PhD student in Electrical and
			Electronic Engineering in Imperial College London, in the Circuits and
			Systems Group.
		</p>
		<img src="/profile_picture.jpg" class="profile-picture">
	</div>
</section>
<section>
	<h2>Pages</h2>
	<p>I don't quite keep a blog — This is a list of pages that may or may not get updated over time.</p>
	<hr width="33%"/>
	<!-- This is a ul, even though I've disabled bullets, so that it renders better in text-mode browsers (lynx) -->
	<ul class="page-list">
		<li>
			<article>
				⏰ <a href="/now">What I'm doing right now</a>
			</article>
		</li>
		<li>
			<article>
				🔧 <a href="/using">The tools I like to use</a>
			</article>
		</li>
		<li>
			<article>
				📷 <a href="/photography">Photography</a>
			</article>
		</li>
		<hr width="33%"/>
		{{ range (.Site.GetPage "/posts").Pages }}
		<li>
			<article class="page">
				{{ if (eq .Type "Game") }}
				👾
				{{ else if (eq .Type "Movie") }}
				🎥
				{{ else }}
				📰
				{{ end }}
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</article>
		</li>
		{{ end }}
	</ul>
</section>
<section>
	<h2>Feed</h2>
	{{ range (.Site.GetPage "/social").Pages }}
	<article class="h-entry">
		{{ with .Params.like_of }}
		❤️ <a class="u-like-of" href="{{ . }}">{{ . }}</a>
		{{ end }}
		{{ with .Content }}
		<div class="e-content">
			{{ . }}
		</div>
		{{ end }}
		<time class="dt-published" datetime="{{.Date}}">{{ .Date.Format "2 Jan 2006" }}</time>
	</article>
	{{ end }}
</section>
{{ end }}
