{{ define "nav" }}
<!-- No nav in index -->

{{ end }}
{{ define "body" }}
<section class="h-card">
	<p class="p-note">
		Hello! I'm <span class="p-given-name">Michalis</span>, I am a PhD
		student in Electrical and Electronic Engineering in Imperial College
		London, in the Circuits and Systems Group.

		My research revolves around the application of formal methods in
		hardware design, looking for ways to increase the reliability of EDA
		tooling.

		My research interests include theorem provers, hardware
		verification and fuzzing.
	</p>
	<img src="/profile_picture.jpg" class="u-photo">
</section>
<section>
	<h2>Publications</h2>
	<ul class="publication-list">
		<li>
			M. Pardalos, A. F. Donaldson, E. Morini, L. Pozzi and J. Wickerson, "Who checks
			the checkers? Automatically finding bugs in C-to-RTL formal equivalence
			checkers," DVCon Europe 2024; Design and Verification Conference and Exhibition
			Europe, Munich, Germany, 2024, pp. 39-44.
			<div>
				<a href="https://doi.org/10.30420/566438006">DOI</a>
				<a href="/publications/equifuzz.pdf">PDF</a>
			</div>
		</li>
		<li>
			<b>Michalis Pardalos</b>, Yann Herklotz and John Wickerson, "Resource
			Sharing for Verified High-Level Synthesis," 2022 IEEE 30th Annual
			International Symposium on Field-Programmable Custom Computing Machines
			(FCCM), New York City, NY, USA, 2022, pp. 1-6
			<div>
				<a href="https://doi.org/10.1109/FCCM53951.2022.9786208">DOI</a>
				<a href="https://github.com/mpardalos/Vericert-Fun">Artefact</a>
				<a href="/publications/Formally_Verified_Resource_Sharing.pdf">PDF</a>
			</div>
		</li>
	</ul>
</section>
<section>
	<h2>Pages</h2>
	<p>I don't quite keep a blog — This is a list of pages that may or may not get updated over time.</p>
	<hr width="33%"/>
	<!-- This is a ul, even though I've disabled bullets, so that it renders better in text-mode browsers (lynx) -->
	<ul class="page-list">
		<li>
			<article>
				⏰ <a href="/now">What I'm doing right now</a>
			</article>
		</li>
		<li>
			<article>
				🔧 <a href="/using">The tools I like to use</a>
			</article>
		</li>
		<li>
			<article>
				📷 <a href="/photography">Photography</a>
			</article>
		</li>
		<li>
			<article>
				🔖 <a href="/bookmarks">Bookmarks</a>
			</article>
		</li>
		<li>
			<article>
				📓 <a href="/social">Short posts</a>
			</article>
		</li>
		<hr width="33%"/>
		{{ range (.Site.GetPage "/posts").Pages }}
		<li>
			<article class="page">
				{{ if (eq .Type "Game") }}
				👾
				{{ else if (eq .Type "Movie") }}
				🎥
				{{ else }}
				📰
				{{ end }}
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</article>
		</li>
		{{ end }}
	</ul>
</section>
{{ end }}
