{{ define "body" }}
<div class="home-content">
  <section class="about-blurb">
    <p>
      Hi there! I'm Michalis. This is my personal website. I am a PhD student,
      working at the intersection of formal methods and hardware design.
    </p>
  </section>
  <section>
    <h2>Links</h2>
    <div class="link-list">
      <a href="/portfolio">Portfolio</a>
      <a href="/cv.pdf">CV</a>
      <a href="/thesis.pdf">Master's Thesis</a>
      <a href="/fccm2_verified_resource_sharing.pdf">Verified Resource Sharing (conference paper)</a>
    </div>
  </section>
  <section>
    <h2>On other platforms</h2>
    <div class="link-list">
      <a rel="me" href="https://github.com/mpardalos">Github</a>
      <a rel="me" href="https://gitlab.com/michalis_pardalos">Gitlab (alternative code hosting)</a>
      <a rel="me" href="https://instagram.com/mpgrphoto">Instagram (photography)</a>
    </div>
  </section>
  <section>
    <h2>Media</h2>
    <p>
      Movies, shows, music, games. I do my best to hide spoilers.
      <span class="spoiler">Like this</span>
    </p>
    {{ partial "list.html" (.Site.GetPage "/media").Pages }}
  </section>
  <section>
    <h2>Posts</h2>
    {{ partial "list.html" (.Site.GetPage "/blog").Pages }}
  </section>
</div>
{{ end }}
