@media(prefers-color-scheme: light) {
    html {
        --bg-color: #F9F5D7;
        --fg-color: #282828;
        --link-color: #D65D0E;
        --visited-link-color: #AF3A03;
    }
}

@media(prefers-color-scheme: dark) {
    html {
        --bg-color: #282828;
        --fg-color: #EBDBB2;
        --link-color: #FE8019;
        --visited-link-color: #D65D0E;
    }
}

a {color: var(--link-color);}
a:visited {color: var(--visited-link-color);}

body {
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

nav {
    font-size: 1.2rem;
    text-align: left;
    /* border-bottom: 1px solid var(--fg-color); */
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-begin-marker {
    display: block;
    border-bottom: 1px solid var(--fg-color);
    margin-top: 1ch;
    margin-bottom: 1ch;
}


.short-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    border: 1px solid var(--fg-color);
    border-radius: 5px;
    padding: 2ch 2ch;
    margin: 2.5ch 0px;
}

section>h2 {
    margin-top: -2.9ex;
    background: var(--bg-color);
    display: block;
    width: min-content;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

.h-card {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.h-card .u-photo {
    border-radius: 50%;
    width: auto;
    max-width: 200px;
}

.h-entry {
    margin: 1ch 0px;
}

.h-entry:not(:last-child)::after {
    content: '';
    display: block;
    width: 66%;
    margin: auto;
    border-bottom: 1px dotted var(--fg-color);
}

.h-entry p {
    margin: 0;
}

.h-entry time {
    display: block;
    text-align: right;
}

.page-list {
    list-style: none;
    padding-left: 0;
}

/** Image board **/

.image-board {
    margin: 0 auto;
    max-width: 1200px;
}

.image-board-container {
    background: white;
    /* box-sizing: border-box; */
    padding: 30px;
    width: fit-content;
    margin: 20px auto;
}

.image-board-image {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
}
