html { font-size: 100%; }

header {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;

    font-family: monospace;
    font-size: 2rem;
}

body {
    max-width: 800px;
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-family: helvetica, sans-serif;
    font-size: 1.2rem;
}

/* Prevent text from touching sides of screen on mobile */
@media screen and (max-width: 840px) {
    body {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.section-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    display: block;
}

#my-name {
    text-decoration: none;
    color: black;
}

.page-external-link {
    display: block;
    font-size: 1.5rem;
}

.external-marker {
    padding: 2px;
    font-weight: bold;
    font-variant: all-small-caps;
}

#page-title {
    font-size: 3rem;
    margin-top: 20px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.draft:before {
    content: "DRAFT"
    background: red;
}

.about-blurb {
    text-align: justified;
}

.home-content section {
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-content section:last-child {
    border-bottom: 2px solid black;
}

.post-link {
    display: flex;
    justify-content: space-between;
}

.link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
