{{ define "body" }}
<section>
	<h2>{{ .Title }}</h2>
	<p>Sites I visit regularly</p>
	<ul class="bookmark-list">
		{{ range (where .Pages ".Params.bookmark_of" "ne" nil) }}
		<li class="h-entry">
			{{ $hasTitle := strings.ContainsNonSpace .Title }}
			<a class="u-bookmark-of {{ if $hasTitle }}h-cite{{ end }}" href="{{ .Params.bookmark_of }}">
				{{ if $hasTitle }}
				{{ .Title }}
				{{ else }}
				{{ . }}
				{{ end }}
			</a>
			{{ with .Content }}
			<div class="e-content">
				{{ . }}
			</div>
			{{ end }}
		</li>
		{{ end }}
	</ul>
	<hr />
	<p>Interesting things I found</p>
	<ul class="like-list">
		{{ range (where .Pages ".Params.like_of" "ne" nil) }}
		<li class="h-entry">
			{{ $hasTitle := strings.ContainsNonSpace .Title }}
			<a class="u-bookmark-of {{ if $hasTitle }}h-cite{{ end }}" href="{{ .Params.like_of }}">
				{{ if $hasTitle }}
				{{ .Title }}
				{{ else }}
				{{ .Params.like_of }}
				{{ end }}
			</a>
			{{ with .Content }}
			<div class="e-content">
				{{ . }}
			</div>
			{{ end }}
		</li>
		{{ end }}
	</ul>
</section>
{{ end }}
